<header class="top-header" [class.sticky]="isSticky">
  <div class="container nav">
    <a routerLink="/" class="logo" (click)="goToHome()">
      <img src="/assets/images/logo.png" />
    </a>
    <div class="top-bar">
      <div class="top-left" *ngIf="!loginFlag">
        <a href="/register-as-a-professional" class="register-link">Register as a Professional</a>
      </div>
      <div class="top-right">
        <img src="assets/images/waicon.png" class="weblock" style="height: 16px; margin-right: 5px;">
        <span class="phone">(888) 999-83-82 </span>
        <a *ngIf="!loginFlag" class="login-btn" (click)=" openLoginModal()"> Login / Sign Up</a>
      </div>
      <div class="cart" routerLink="/cart" *ngIf="cartCount > 0">
        🛒<span class="badge">{{cartCount}}</span>
      </div>

  <!-- Right Section -->
    <div class="header-right" *ngIf="loginFlag">
      <!-- Profile Icon -->
      <div class="mobile-menu-icon" (click)="toggleMenu()">
        <div class="user-icon">
          👤
        </div>
        <!-- Dropdown -->
        <div class="mobile-menu" [class.open]="menuOpen">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/orders">My Orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
      </div>


    </div>
  </div>
</header>
<div class="register-wrapper">
  <div class="mobile-menu-icon" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Animated Menu -->
  <div class="mobile-menu" [class.open]="menuOpen" *ngIf="!loginFlag">
    <a routerLink="/register-as-a-professional">Register as a Professional</a>
    <a   (click)=" openLoginModal()">Login / Sign Up</a>
  </div>
  <!-- login modal -->

<div class="login-modal" *ngIf="loginShowModal">
	<div class="login-box">
		<span class="close-btn" (click)="closeLoginModal()">×</span>
		<img src="assets/images/logo.png" class="logo" />

		<p class="tagline">Our energy is working for you</p>
		<p class="sub-text">Quick · Affordable · Trusted</p>

		<div *ngIf="!showOtpScreen">
			<input class="inputClass" type="text" placeholder="Your Phone Number" [(ngModel)]="phone" maxlength="10"
				(keypress)="checkInput($event)" />

			<button (click)="continue()">CONTINUE</button>
		</div>
		<!-- OTP SCREEN -->
		<div *ngIf="showOtpScreen" [formGroup]="loginForm">
			<input class="inputClass" type="text" placeholder="Enter Your OTP" formControlName="otp">
			<button (click)="loginWithOtp()">CONTINUE</button>
			<div *ngIf="timer != 00" class="timer">00:{{ timer < 10 ? '0' + timer : timer }}</div>
					<p class="resend">
						Didn't receive code? <span (click)="resendOtp()">Resend OTP</span>
					</p>
          <p>Please Enter Default OTP: 1234</p>
			</div>
		</div>
	</div>

	<!-- Error Popup -->
	<div class="error-overlay" *ngIf="showError">
		<div class="error-box">
			<div class="error-header">Message</div>
			<div class="error-body">
				10 digit Phone number is required
			</div>
			<button (click)="closeError()">OK</button>
		</div>
	</div>
