<!-- <section class="product-detail">

    <div class="breadcrumb">
        Home / {{ bike.brand }} / {{ bike.name }}
    </div>

    <div class="detail-container">

        <div class="image-gallery">
            <img [src]="bike.img" class="main-img">
            <div class="thumbs">
                <img [src]="bike.img">
                <img [src]="bike.img">
            </div>
        </div>

        <div class="info-panel">
            <h2>{{ bike.name }}</h2>
            <p class="brand">{{ bike.brand }}</p>

            <h4>Select Service</h4>
            <select>
                <option *ngFor="let s of bike.services">{{ s }}</option>
            </select>

            <h4>Quantity</h4>
            <div class="qty-box">
                <button (click)="decreaseQty()">-</button>
                <span>{{ quantity }}</span>
                <button (click)="increaseQty()">+</button>
            </div>

            <button class="add-cart" (click)="addToCart()">
                Add to Cart 🛒
            </button>
        </div>

    </div>

</section> -->
<app-header></app-header>
<!-- <app-header [cartCount]="cartItems.length"></app-header> -->
<!-- HERO SECTION -->
<section class="hero" [style.backgroundImage]="'url(https://www.foxservice.in/admin/' + bikeData?.banner + ')'">
    <div class="overlay">
        <h1>Honda Activa 6G Service in Bangalore</h1>
        <p>Get instant access to reliable and affordable services</p>
    </div>
</section>

<!-- TITLE -->
<h2 class="section-title">
    <img src="assets/images/tag2.png" /> Choose Your Service
</h2>

<!-- SERVICES GRID -->
<div class="service-grid">
    <div class="service-card" *ngFor="let service of services">
        <img [src]="'https://www.foxservice.in/admin/' + service.image" />
        <h3>{{service.name}}</h3>
        <h4>₹{{service.cities[0].pivot.price}} /-</h4>

        <p class="view-link" (click)="openPopup(service)">View whats included</p>

        <!-- <button class="add-btn" (click)="addToCart(service)">ADD TO CART🛒</button> -->

        <button class="cart-btn" [class.added]="cartService.isInCart(service)" (click)="addToCart(service)">

            <span *ngIf="!cartService.isInCart(service)">ADD TO CART 🛒</span>
            <span *ngIf="cartService.isInCart(service)">ADDED ✓</span>
        </button>

    </div>
</div>

<div class="modal-overlay" *ngIf="showPopup">
    <div class="modal-box">

        <!-- HEADER -->
        <div class="modal-header">
            <span>{{selectedService?.name}}</span>
            <span>₹{{selectedService.cities[0].pivot.price}} /-</span>
            <button class="close-btn" (click)="closePopup()">✖</button>
        </div>

        <!-- BODY -->
        <div class="modal-body">
            <div  id="info" class="service-details" [innerHTML]="getSafeDescription(selectedService.specifications)">
            </div>

            <!-- <h4>Note:</h4>
            <ul>
                <li>One Month service warranty.</li>
                <li>Extra cost will be charged for parts.</li>
                <li>Next service due (2500 Kms or 4 Months).</li>
            </ul> -->
        </div>

        <button class="close-bottom" (click)="closePopup()">CLOSE</button>
    </div>
</div>

<div class="floating-cart" routerLink="/cart">
    🛒
</div>