<div class="orders-page">
  <div class="orders-title">
    <span class="icon"></span>
    <h2>My Orders</h2>
  </div>
  <a class="whatsapp" (click)="openWhatsApp()">
    <img src="assets/images/waicongreen.png">
  </a>
  <div *ngFor="let order of ordersData; let i = index">
    <div class="order-card">
      <!-- Top -->
      <div class="order-top">
        <div class="order-id">
          Order Id: <b>#{{order.order.order_ref}}</b>
        </div>
        <div class="order-otp">
          OTP: <span>{{order.order.otp}}</span>
        </div>
        <div class="order-status">
          {{order.order.status}}
        </div>
      </div>

      <!-- Progress -->
      <div class="order-progress">
        <div class="progress-line">
          <div class="progress-step" [class.active]="getStatusStep(order.order.status) >= 1">
            <span></span>
            <p>Processing</p>
          </div>

          <div class="progress-step" [class.active]="getStatusStep(order.order.status) >= 2">
            <span></span>
            <p>Accepted</p>
          </div>

          <div class="progress-step" [class.active]="getStatusStep(order.order.status) >= 3">
            <span></span>
            <p>In Progress</p>
          </div>

          <div class="progress-step" [class.active]="getStatusStep(order.order.status) >= 4">
            <span></span>
            <p>Completed</p>
          </div>
        </div>
      </div>
      <!-- Expand Button -->
      <div class="order-footer">
        <span class="expand" (click)="toggleOrder(i)">
          {{expandedIndex === i ? '-' : '+'}}
        </span>
      </div>
      <!-- Expanded Content -->
      <div class="order-details" *ngIf="expandedIndex === i">
        <div class="order-left">
          <img [src]="'https://www.foxservice.in/admin/' + order.items[0].service.image" class="service-img">
          <div class="service-info">
            <h3>{{order.items[0].service.display_name}}</h3>
            <p class="category">
              Category: {{order.category.name}}
            </p>
            <p class="city">
              City: {{order.city.name}}
            </p>
            <div class="specs" [innerHTML]="order.items[0].service.specifications">
            </div>
          </div>
          <div class="price">
            ₹{{order.order.total_price}} /-
          </div>
        </div>
        <!-- Address -->
        <div class="order-right">
          <h3>{{order.order.address.type}}</h3>
          <p>{{order.order.address.road_area_colony}}</p>
          <p>{{order.city.name}}</p>
          <p>{{order.order.address.phone}}</p>
          <p>{{order.order.address.email}}</p>
          <div class="service-meta">
            <p>
              <b>Service Date:</b>
              {{order.order.date | date:'dd-MMM-yyyy'}}
            </p>
            <p>
              <b>Service Time:</b>
              {{order.order.time}}
            </p>
            <p>
              <b>Price:</b> ₹{{order.order.total_price}} /-
            </p>
            <p>
              <b>Total Price:</b> ₹{{order.order.total_price}} /-
            </p>
            <p>
              <b>Transaction:</b>
              {{order.order.transactions[0]?.status}}
            </p>
          </div>
        </div>
        <div class="order-actions">
          <button class="reschedule-btn" *ngIf="order.order.reschedulable" (click)="rescheduleOrder(order)">
            RESCHEDULE
          </button>
          <button class="cancel-btn" *ngIf="order.order.cancellable" (click)="cancelOrder(order)">
            CANCEL ORDER
          </button>
        </div>
      </div>
    </div>
    <span class="order-date">
      {{order.order.ordered_on}}
    </span>
  </div>

  <!-- timeslotpopup -->
  <div class="modal-overlay" *ngIf="showSlotPopup">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Select you Date & Time</h2>
        <span class="close" (click)="close()">✕</span>
      </div>

      <div class="modal-body">
        <!-- DATE SECTION -->
        <div class="calendar-section">
          <div class="calendar-header">
            <button (click)="prevMonth()">&#8592;</button>
            <h3>{{ monthNames[currentMonth] }} {{ currentYear }}</h3>
            <button (click)="nextMonth()">&#8594;</button>
          </div>

          <div class="calendar-grid">
            <div class="day-name" *ngFor="let d of daysName">{{ d }}</div>
            <div class="date-cell" *ngFor="let day of calendarDays" [class.active]="day === selectedDate"
              [class.disabled]="isPastDate(day)" (click)="selectDate(day)">
              {{ day }}
            </div>
          </div>

          <!-- Error Message -->
          <p *ngIf="filteredSlots.length === 0" class="error-msg">
            No time slot available today.
          </p>
        </div>

        <!-- TIME SLOT SECTION -->
        <div class="time-section">
          <h4>⏱ Confirm Time Slot</h4>
          <div class="time-slots">
            <button *ngFor="let slot of filteredSlots" [class.active]="selectedSlot === slot"
              (click)="selectSlot(slot)">
              <span>{{slot.start_time}} - {{slot.end_time}}</span>
            </button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="continue-btn" (click)="submit()">CONTINUE</button>
      </div>
    </div>
  </div>

</div>

<div class="error-overlay" *ngIf="showSuccess">
  <div class="error-box">
    <div class="error-header">Message</div>
    <div class="error-body">
      {{successMessage}}
    </div>
    <button (click)="closeError()">OK</button>
  </div>
</div>

<!-- Error Popup -->
<div class="error-overlay" *ngIf="showError">
  <div class="error-box">
    <div class="error-header">Message</div>
    <div class="error-body">
      10 digit Phone number is required
    </div>
    <button (click)="closeError()">OK</button>
  </div>
</div>