<div class="floating-buttons">
  <!-- <a class="quick-booking" (click)="quickBookingOpenModal()">
    Quick Booking
  </a> -->

  <a class="whatsapp" (click)="openWhatsApp()">
    <img src="assets/images/waicongreen.png" alt="WhatsApp">
  </a>

  <a class="calling" href="tel:+918889998382">
    <img src="assets/images/calling.jpg" alt="Call">
  </a>
</div>
<div class="profile-page">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <span>Home Page</span>
    <span class="arrow">›</span>
    <span>Profile</span>
  </div>

  <h2 class="page-title">Profile</h2>

  <!-- Profile Card -->
  <div class="profile-card">
    <div class="profile-info">
      <div class="profile-image">
        <span>FS</span>
      </div>

      <div class="profile-details">
        <h3>Mr. {{profileData?.name}}</h3>
        <p>{{profileData?.phone}}</p>
      </div>
    </div>

    <div class="order-box">
      <h2>{{orderData?.length || 0}}</h2>
      <span>TOTAL ORDERS</span>
    </div>
  </div>

  <!-- Navigation Tabs -->
  <!-- <div class="profile-tabs">

    <a class="active">PROFILE</a>
    <a routerLink="/about">ABOUT FOX SERVICE</a>
    <a routerLink="/support">SUPPORT</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/orders">MY ORDERS</a>
    <a routerLink="/book-now">BOOK NOW</a>
    <a routerLink="/logout">LOGOUT</a>

  </div> -->


  <!-- Tabs -->
  <div class="profile-tabs">
    <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      PROFILE
    </a>
    <a routerLink="/about" routerLinkActive="active">
      ABOUT FOX SERVICE
    </a>
    <a routerLink="/contact" routerLinkActive="active">
      SUPPORT
    </a>
    <a routerLink="/faq" routerLinkActive="active">
      FAQ
    </a>
    <a routerLink="/orders" routerLinkActive="active">
      MY ORDERS
    </a>
    <a routerLink="/" routerLinkActive="active">
      BOOK NOW
    </a>

    <!-- <a (click)="logout()">
LOGOUT
</a> -->
  </div>

  <!-- Sub Tabs -->
  <div class="sub-tabs">
    <!-- <div class="active">Profile</div> -->
    <div [class.active]="activeTab === 'profile'" (click)="setTab('profile')">Profile</div>
    <div [class.active]="activeTab === 'editProfile'" (click)="setTab('editProfile')">Edit Profile</div>
    <div [class.active]="activeTab === 'manageAddress'" (click)="setTab('manageAddress')">Manage Address</div>
  </div>

  <!-- Profile Section -->
  <div class="profile-section" *ngIf="activeTab == 'profile'">
    <h3>Manage Your Profile Details.</h3>
    <p class="subtitle">
      Below are the name and email addresses on file for your account.
    </p>

    <div class="profile-form">
      <div class="photo-box">
        <span>FS</span>
      </div>
      <div class="profile-fields">
        <div class="field">
          <label>Your name</label>
          <p>Mr.{{profileData?.name}}</p>
        </div>
        <div class="field">
          <label>Email Address</label>
          <p>{{profileData?.email}}</p>
        </div>
        <div class="field">
          <label>Phone Number</label>
          <p>{{profileData?.phone}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-wrapper" *ngIf="activeTab == 'editProfile'">
    <!-- Content Card -->
    <div class="profile-card">
      <div class="profile-header">
        <h3>Manage Your Security Settings</h3>
        <p>Manage Your Account</p>
      </div>

      <div class="profile-body">
        <!-- Avatar -->
        <div class="avatar-section">
          <div class="avatar-box">FS</div>
        </div>

        <!-- Form -->
        <div class="form-section" [formGroup]="profileForm">
          <div class="form-group">
            <label>Your Name</label>
            <div class="name-input">

              <span class="prefix" [class.active]="title === '0'" (click)="selectTitle('0')">Mr</span>
              <span class="prefix" [class.active]="title === '1'" (click)="selectTitle('1')">Ms</span>
              <input type="text" [value]="profileData?.name" placeholder="Your Name" formControlName="name">
            </div>
          </div>

          <div class="form-group">
            <label>Email Address *</label>
            <input type="email" placeholder="Your Email" formControlName="email">
          </div>

          <div class="form-group">
            <label>Contact Number *</label>
            <input type="text" value="" formControlName="phone">
          </div>

          <button class="update-btn" (click)="editUserProfile()">
            UPDATE MY INFO
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="manage-address" *ngIf="activeTab === 'manageAddress'">
    <h3>Manage Address</h3>
    <p class="subtitle">Add or update your service address.</p>
    <div *ngIf="!addressEdit">
      <div class="address-card" *ngFor="let address of Addressddata">
        <div class="address-left">
          <h4>{{address.type || 'Home'}}</h4>
          <p>Area: {{address.road_area_colony}}</p>
          <p>Pincode: {{address.pincode}}</p>
          <p>Residence: {{address.house_building_name}}</p>
          <p>Name : {{address.name}}</p>
          <p>Email : {{address.email}}</p>
          <p>Phone : {{address.phone}}</p>
          <p>Landmark: {{address.landmark}}</p>
          <p>City : {{address.city.name}}</p>
        </div>

        <div class="address-right">
          <button class="edit-btn" (click)="editAddress(address)">Edit</button>
          <button class="delete-btn" (click)="deleteAddress()">Delete</button>
        </div>
      </div>
    </div>

    <!-- EDIT FORM -->

    <div class="address-form" *ngIf="addressEdit" [formGroup]="addressForm">
      <h4>Edit Address</h4>
      <div class="form-grid">
        <div class="form-row">
          <label>Full Name</label>
          <input type="text" formControlName="name">
        </div>

        <div class="form-row">
          <label>Phone Number</label>
          <input type="text" formControlName="phone">
        </div>

        <div class="form-row full">
          <label>Address</label>
          <textarea formControlName="road_area_colony"></textarea>
        </div>

        <div class="form-row">
          <label>City</label>
          <input type="text" formControlName="city">
        </div>

        <div class="form-row">
          <label>Pincode</label>
          <input type="text" formControlName="pincode">
        </div>

        <div class="form-row">
          <label>Landmark</label>
          <input type="text" formControlName="landmark">
        </div>
      </div>
      <button class="add-btn" (click)="updateAddress()">Save Address</button>
    </div>
  </div>
</div>

<div class="error-overlay" *ngIf="showSuccess">
  <div class="error-box">
    <div class="error-header">Message</div>
    <div class="error-body">
      {{successMessage}}
    </div>
    <button (click)="closeError()">OK</button>
  </div>
</div>

<!-- Error Popup -->
<div class="error-overlay" *ngIf="showError">
  <div class="error-box">
    <div class="error-header">Message</div>
    <div class="error-body">
      {{errorMessage}}
    </div>
    <button (click)="closeError()">OK</button>
  </div>
</div>