<div class="cart-wrapper">
  <!-- LEFT SIDE -->
  <div class="cart-left">
    <h2 class="cart-title">
      <span class="title-icon"></span>
      My Added Services
    </h2>
    <p class="location">
      Bike/Scooty service in {{ selectedCity }}
    </p>
    <div *ngFor="let item of cartItems" class="service-card">
      <!-- IMAGE -->
      <div class="service-img">
        <img [src]="'https://www.foxservice.in/admin/' + item.image">
      </div>

      <!-- SERVICE INFO -->
      <div class="service-info">
        <div class="service-title">
          {{ item.name }}
          <span>({{ item.model }})</span>
        </div>
      </div>

      <div class="service-spec">
        <b>Specifications:</b>
        <div [innerHTML]="getThreeSpecs(item.specifications)"></div>
      </div>

      <!-- PRICE -->
      <div class="service-price">
        ₹ {{ item.cities[0].pivot.price }}/-
        <div class="remove" (click)="removeItem(item.id)">
          Remove
        </div>
      </div>
    </div>
  </div>
  <!-- RIGHT SIDE SUMMARY -->
  <div class="cart-summary" *ngIf="cartItems.length>0">
    <h3>Summary</h3>
    <div class="summary-row" *ngFor="let item of cartItems">
      <span>{{ item.name }} <span [title]="item.model" style="color:red;"> ({{ item.model.length > 10 ? (item.model |
          slice:0:10) + '...' : item.model }})</span></span>
      <!-- <span [title]="item.model" style="color:red;">
        ({{ item.model.length > 10 ? (item.model | slice:0:10) + '...' : item.model }})
      </span> -->
      <span>₹ {{ item.cities[0].pivot.price }}/-</span>
      <!-- <hr> -->
    </div>
    <hr>
    <div class="summary-row">
      <b>Sub Total</b>
      <b>₹ {{ total }}/-</b>
    </div>
    <hr>
    <!-- <div class="summary-total">
      <span>Total <small>(GST Included)</small></span>
      <span>₹ {{ getTotalWithGST() | number:'1.0-2' }}/-</span>
    </div>
    <hr> -->
    <button class="continue-button" (click)="continue()">
      CONTINUE
    </button>
  </div>



</div>

<div class="overlay" *ngIf="showAddressPopup">
  <div class="address-modal">
    <span class="close" (click)="closeAddressPopup()">✕</span>
    <h2>Add new address</h2>
    <!-- Add Address Button -->
    <button class="add-btn" (click)="openAddressForm()">
      📍 ADD NEW ADDRESS
    </button>
    <div class="divider" *ngIf="addressList.length>0">
      <span>OR</span>
    </div>
    <h3 *ngIf="addressList.length>0">Choose your address.</h3>
    <!-- Address List -->
    <div class="address-list" *ngIf="addressList.length>0">
      <div class="address-card" *ngFor="let address of addressList"
        [class.selected]="selectedAddress?.id === address.id" (click)="selectAddress(address)">
        <div class="edit-icon" (click)="editAddress(address); $event.stopPropagation()">
          ✏️
        </div>
        <h4>Area : {{address.road_area_colony}}</h4>
        <p>Pincode : {{address?.pincode}}</p>
        <p>Residence : {{address.house_building_name}}</p>
        <p>Phone : {{address.phone}}</p>
        <p>Landmark : {{address.landmark}}</p>
        <p>City : {{address.city.name}}</p>
        <p>Email : {{address.email}}</p>
      </div>
    </div>
    <!-- Continue Button -->
    <button class="continue-btn" [disabled]="!selectedAddress" (click)="continueToSlots()" *ngIf="addressList.length>0">
      CONTINUE
    </button>
  </div>
</div>


<!-- Second Popup (Address Form) -->
<div class="overlay" *ngIf="showAddressForm">
  <div class="form-modal">
    <div class="side-bar">
      <span (click)="backToPopup()">←</span>
    </div>
    <div class="form-container" [formGroup]="addressForm">
      <h2>Add Address</h2>
      <div class="form-grid">
        <!-- Search Location -->
        <div class="form-group full">
          <div class="location-input">
            <input type="text" placeholder="Search your location" #locationInput formControlName="road_area_colony" />
            <button type="button" class="locate-btn" (click)="getCurrentLocation()">
              <img src="assets/images/current.png" width="20">
            </button>
          </div>
        </div>

        <!-- Name -->
        <div class="form-group">
          <label>Your Name*</label>
          <input type="text" formControlName="name" placeholder="Your Name">
        </div>

        <!-- Email -->
        <div class="form-group">
          <label>Email*</label>
          <input type="email" formControlName="email" placeholder="Your Email">
        </div>

        <!-- Mobile -->
        <div class="form-group">
          <label>Your mobile number*</label>
          <input type="text" formControlName="phone" placeholder="Mobile Number" maxlength="10"
            (keypress)="checkInput($event)" />
        </div>

        <!-- City -->
        <div class="form-group">
          <label>City*</label>
          <input type="text" formControlName="city">
        </div>

        <!-- Landmark -->
        <div class="form-group">
          <label>Landmark</label>
          <input type="text" formControlName="landmark" placeholder="Landmark">
        </div>

        <!-- Residence -->
        <div class="form-group">
          <label>Residence No</label>
          <textarea formControlName="house_building_name" placeholder="Flat / House No / Floor / Building">
          </textarea>
        </div>
      </div>

      <!-- Address Type -->
      <div class="address-type">
        <label>Address Type*</label>
        <div class="type-buttons">
          <button type="button" [class.active]="addressForm.value.type === 'Home'" (click)="selectAddressType('Home')">
            Home
          </button>

          <button type="button" [class.active]="addressForm.value.type === 'Office'"
            (click)="selectAddressType('Office')">
            Office
          </button>

          <button type="button" [class.active]="addressForm.value.type === 'Other'"
            (click)="selectAddressType('Other')">
            Other
          </button>
        </div>
      </div>

      <!-- Extra Input -->
      <div class="form-group" *ngIf="showOtherInput">
        <label>Enter Address Type</label>
        <input type="text" formControlName="type" placeholder="Example: Friend House">
      </div>

      <!-- Submit -->
      <button class="save-btn" (click)="submitAddress()">
        SAVE ADDRESS →
      </button>
    </div>
  </div>
</div>

<!-- timeslotpopup -->
<div class="modal-overlay" *ngIf="showSlotPopup">
  <div class="modal-container">
    <div class="modal-header">
      <h2>Select you Date & Time</h2>
      <span class="close" (click)="closeAddressPopup()">✕</span>
    </div>

    <div class="modal-body">
      <!-- DATE SECTION -->
      <div class="calendar-section">
        <div class="calendar-header">
          <button (click)="prevMonth()">&#8592;</button>
          <h3>{{ monthNames[currentMonth] }} {{ currentYear }}</h3>
          <button (click)="nextMonth()">&#8594;</button>
        </div>

        <div class="calendar-grid">
          <div class="day-name" *ngFor="let d of daysName">{{ d }}</div>
          <div class="date-cell" *ngFor="let day of calendarDays" [class.active]="day === selectedDate"
            [class.disabled]="isPastDate(day)" (click)="selectDate(day)">
            {{ day }}
          </div>
        </div>

        <!-- Error Message -->
        <p *ngIf="filteredSlots.length === 0" class="error-msg">
          No time slot available today.
        </p>
      </div>

      <!-- TIME SLOT SECTION -->
      <div class="time-section">
        <h4>⏱ Confirm Time Slot</h4>
        <div class="time-slots">
          <button *ngFor="let slot of filteredSlots" [class.active]="selectedSlot === slot" (click)="selectSlot(slot)">
            <span>{{slot.start_time}} - {{slot.end_time}}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="continue-btn" (click)="submitSlot()">CONTINUE</button>
    </div>
  </div>
</div>

<!-- show cart modal pay later-->
<div class="cart-overlay" *ngIf="showCartModal">
  <div class="cart-modal">
    <!-- HEADER -->
    <div class="cart-header">
      <h2>Your Cart Details</h2>
      <span class="close-btn" (click)="closeCart()">✕</span>
    </div>
    <div class="cart-body">
      <!-- LEFT SERVICES -->
      <div class="services-section">
        <div *ngFor="let item of cartItems" class="service-card2">
          <div class="service-img">
            <img [src]="'https://www.foxservice.in/admin/' + item.image">
          </div>
          <div class="service-info">
            <div class="service-title">
              {{ item.name }}
              <span>({{ item.model }})</span>
            </div>
          </div>

          <div class="service-spec">
            <b>Specifications:</b>
            <div [innerHTML]="getThreeSpecs(item.specifications)"></div>
          </div>

          <div class="service-price">
            ₹ {{ item.cities[0].pivot.price }}/-
          </div>

        </div>

      </div>


      <!-- RIGHT SUMMARY -->
      <div class="summary-section">{{addressList|json}}
        <div class="address-box" *ngFor="let address of addressList">
          <h4>Home</h4>
          <p>Area: {{address.road_area_colony}}</p>
          <p>Pincode: {{address.pincode}}</p>
          <p>Residence: {{address.house_building_name}}</p>
          <p>Landmark: {{address.landmark}}</p>
          <p>City: {{address.city}}</p>
          <p>Phone : {{address.phone}}</p>
          <p>Email : {{address.email}}</p>
        </div>
        <div class="booking-info">
          <p>
            <span>Service Date:</span>
            {{selectedDate}} {{monthNames[currentMonth]}} {{currentYear}}
          </p>
          <hr>
          <p>
            <span>Service Slot:</span>
            {{selectedSlot.start_time}} - {{selectedSlot.end_time}}
          </p>
          <p>
            <span>Sub Total</span>
            ₹ {{total}} /-
          </p>
          <!-- <hr>
          <p class="total">
            <span>Total (GST Included):</span>
            ₹ {{getTotalWithGST()}}
          </p> -->
        </div>
        <textarea placeholder="Comment" [(ngModel)]="comment"></textarea>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="cart-footer">
      <button class="pay-btn" (click)="payLater()">PAY LATER</button>
    </div>
  </div>
</div>

<div class="error-overlay" *ngIf="showSuccess">
  <div class="error-box">
    <div class="error-header">Message</div>
    <div class="error-body">
      {{successMessage}}
    </div>
    <button (click)="closeError()">OK</button>
  </div>
</div>

<!-- Error Popup -->
<div class="error-overlay" *ngIf="showError">
  <div class="error-box">
    <div class="error-header">Message</div>
    <div class="error-body">
    {{errorMessage}}
    </div>
    <button (click)="closeError()">OK</button>
  </div>
</div>