<!-- <footer class="app-footer">
	<div class="footer-top">
		<a class="footer-logo" routerLink="/">
			<img src="assets/images/footer-logo.png" alt="Footer Logo" />
		</a>
		<div class="footer-links">
			<a routerLink="/about">About</a> ·
			<a routerLink="/faq">FAQ</a> ·
			<a routerLink="/terms">Terms</a> ·
			<a routerLink="/contact">Contact</a>
		</div>
	</div>
	<div class="footer-bottom">Copyright © 2021 Fox Service | All Rights Reserved.</div>
</footer> -->

<footer class="site-footer">
  <div class="footer-content container">
    <div class="footer-col">
      <h4>About Fox Service</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/faq">FAQ's</a></li>
        <li><a routerLink="/terms">Terms & Conditions</a></li>
        <li><a routerLink="/contact">Address: E-5 Shatabdi Vihar Scetor 52 Noida (U.P) India E-Mail: contactus&#64;foxservice.in</a></li>
      </ul>
    </div>

 <div class="footer-col">
      <h3>Our Services</h3>
      <!-- <p *ngFor="let footerService of footerData.Our Services">{{ footerService.heading }}</p> -->
    <ul>
      <li *ngFor="let footerService of footerDataService">
        <a routerLink="/{{ footerService.url }}">{{ footerService.name }}</a>
      </li>
    </ul>
    </div>

    <div class="footer-col">
      <h4>Popular Brands</h4>
      <ul>
        <li *ngFor="let footerBrand of footerDataBrand">
          <a routerLink="/{{ footerBrand.url }}">{{ footerBrand.name }}</a>
        </li>
      </ul>
      <!-- <p>888-999-83-82</p>
      <p>contactus&#64;foxservice.in</p> -->
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Fox Service. All Rights Reserved.</p>
  </div>
</footer>