<!-- HEADER -->
<header class="top-header">
  <div class="logo">FOX SERVICE</div>

  <nav class="nav-links">
    <a>Home</a>
    <a>Services</a>
    <a>Login</a>
  </nav>

  <div class="cart">
    🛒<span class="badge">1</span>
  </div>
</header>


<!-- HERO SECTION -->
<section class="hero">
  <div class="slide" *ngFor="let slide of slides" [style.backgroundImage]="'url(' + slide.image + ')'">
    <div class="hero-content">
      <h1>{{ slide.title }}</h1>
      <p>{{ slide.subtitle }}</p>
    </div>
  </div>
</section>
<h2 class="mb-3" style="text-align: center;">
  <img src="assets/images/tag2.png" alt="How It Works" class="how-it-works-image" style="height: 28px;"> Upto 150cc
</h2>

<!-- FILTER BUTTONS -->
<div class="filter-bar">
  <button *ngFor="let brand of brands" (click)="filterBrand(brand)" [ngClass]="{'active': activeBrand === brand}">
    {{ brand }}
  </button>
</div>

<!-- BIKE GRID -->
<div class="bike-grid">
  <div class="bike-card" *ngFor="let bike of filteredBikes"  (click)="goToDetails(bike)">
    <img [src]="bike.img" alt="{{bike.name}}">
    <h4>{{ bike.name }}</h4>
  </div>
</div>