<section class="testimonials-section">
  <h2 class="section-title">
     <img src="assets/images/tag2.png" alt="How It Works" class="how-it-works-image" style="height: 28px;"> Our Testimonials
  </h2>

  <div class="testimonial-card">
    <div class="avatar">
      {{ testimonials[currentIndex].initial }}
    </div>

    <h3>{{ testimonials[currentIndex].title }}</h3>

    <p class="message">
      {{ testimonials[currentIndex].message }}
    </p>

    <h4>{{ testimonials[currentIndex].name }}</h4>
  </div>

  <!-- DOTS ONLY -->
  <div class="dots">
    <span
      *ngFor="let t of testimonials; let i = index"
      (click)="goToSlide(i)"
      [class.active]="i === currentIndex">
    </span>
  </div>
</section>

<!-- <section class="testimonials-section">
  <div class="container">
    <img src="assets/images/tag2.png" alt="How It Works" class="how-it-works-image" style="height: 28px;">
    <span style="font-size: 35px;">Our Testimonials</span>
    <div class="testimonials">
      <div class="testimonial" *ngFor="let t of [
        { name: 'Lalit Pratap', title: 'Very prompt and efficient service', text: 'Very prompt service and efficient service by Fox Service. Very Courteous and well-trained staff, they always walk an extra mile for you which saves your time and revisits to Garage. My bike always goes for preventing check before I take any outside Delhi long trip, absolute peace of mind.', rating: 5 },
        { name: 'Monika Mishra', title: 'Overall nice experience', text: 'Overall it was a good service provided by Fox Service. Though I got my scooty service for the first time and I think it was good as all the work done in front of me. Trained and very well behaved mechanic, my scooty service was done very smoothly.', rating: 5 },
        { name: 'Prateek Agrawal', title: 'Best Bike Service', text: 'Fox Service is the best bike service and repairing centre in this designated area. They do the job in a very short span of time. Amazing service and good communication between customers.', rating: 5 }
      ]">
        <div class="testimonial-header">
          <h3>{{t.title}}</h3>
          <div class="testimonial-rating">
            <span *ngFor="let r of [].constructor(t.rating)">★</span>
          </div>
        </div>
        <div class="testimonial-body">
          <p>{{t.text}}</p>
        </div>
        <div class="testimonial-footer">
          <strong>{{t.name}}</strong>
        </div>
      </div>
    </div>
  </div>
</section> -->